#kenntnisse_section {
	padding: 70px 0;
	background-color: var(--primary-color);
}
#kenntnisse_section h2 {
	font-size: 50px;
	text-align: center;
	padding: 40px 0;
}
.flex_container {
	display: flex;
	gap: 40px;
	justify-content: center;
}
.card {
	width: 350px;
	background-color: var(--secondary-color);
	border-radius: 100px;
	padding: 60px 20px;
	
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 20px;
}
.card *{
	text-align: center;
}
.card a {
	background-color: var(--main-brand-color);
	width: min-content;
	padding: 15px 40px;
	border-radius: 50px;
	margin: 0 auto;
	text-decoration: none;
	color: var(--text-color);
}